OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

T3N_API_KEY=
T3N_DID=
T3N_ENVIRONMENT=testnet
T3N_CONTRACT_NAME=tee:hireguardian

MONGODB_URI=
MONGODB_DB=hireguardian_ai

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

HIREGUARDIAN_SESSION_SECRET=
